<section class="wrapper">
    <form (ngSubmit) = "formSubmit()" class="loginForm" [formGroup] = "loginForm" >

        <h1>Login</h1>

        <input type="text" name="username" placeholder="Username"
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" 
         required formControlName="name" autocomplete="username">

        <input type="password" name="password" placeholder="Password" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" 
        required formControlName="password">
        <span class="errorText" *ngIf="password?.errors?.weakPassword">
            {{password.errors.weakPassword}}
        </span>
        
        <button type="submit">Submit</button>
    </form> 
</section>