<section class="wrapper">
    <form (ngSubmit) = "formSubmit" class="loginForm" #form = "ngForm">

        <h1>Login</h1>

        <input type="text" name="username" placeholder="Username"
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" 
         required [(ngModel)] = "loginAuth.username"
         >

        <input type="password" name="password" placeholder="Password" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" 
         required [(ngModel)] = "loginAuth.password"
        >
        
        <input type="submit" vlue="Submit" [disabled]="!form.form.valid">
    </form> 
</section>