<article class="articleDetail">
    <h1 class="articleHeading">{{ article.title }}</h1>
    <div class="content" class="articleText2">Added by {{ article.author }}</div>
    <div class="content" class="articleText2">Category: {{ article.category }}</div>
    <div class="image">
        <img [src]="'data:image/jpg;base64,' + article.file" height="400px" width="600px">
    </div>
    <h3 class="articleAfterTitle">{{ article.description }}</h3>
    <div class="content" class="articleText">{{ article.content }}</div>
</article>