<section class="wrapper">
    <form (ngSubmit) = "formSubmit()"class="regForm" [formGroup] = "regForm">

        <h1>Sign up</h1>

        <input type="text" name="username" placeholder="Username" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" 
        required formControlName = "name">

        <input type="email" name="email" placeholder="Email" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" 
        required formControlName = "email">

        <input type="password" name="password" placeholder="Password" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" 
        required formControlName = "password">

        <input type="password" name="password2" placeholder="Repeat your Password" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repeat your Password'" 
        required formControlName = "password2">

        <span>{{passwordMessage}}</span>
        <span *ngIf="password?.errors?.weakPassword">
            {{password.errors.weakPassword}}
        </span>

        <input type="submit" value="Submit">
        
    </form> 
</section>