<section class="wrapper">
    <form action="/action_page.php" class="regForm">
        <h1>Sign up</h1>
        <input type="text" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" >
        <input type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" >
        <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" >
        <input type="submit" value="Submit">
    </form> 
</section>