<section class="formWrap">
    <form (ngSubmit)="postArticle()" [(ngModel)]="form">
        <mat-form-field>
            <input type="text"
                matInput 
                placeholder="Author Name"  
                required
                name="author"
                [(ngModel)]="author">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text"  
                placeholder="Title Name"  
                required
                name="title"
                [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field>
            <input type="text"
                matInput 
                placeholder="Category Name"  
                required
                name="category"
                [(ngModel)]="category">
        </mat-form-field>
        <mat-form-field>
            <textarea 
                placeholder="Description"  
                required
                name="description"
                [(ngModel)]="description">
            </textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                placeholder="Article Content"  
                required
                name="content"
                [(ngModel)]="content">
            </textarea>
        </mat-form-field>
        <mat-form-field>
            <p>Choose file: </p>
            <input type="file" (change)="getFile($event)">
            <!--<input type="button" value="upload" (click)="uploadFile()">-->
        </mat-form-field>
        <button type="submit">
            Post
        </button>
    </form>
</section>