<section class="userEditWrap">
    <form (ngSubmit) = "submitForm()" [formGroup] = "editForm">

        <h1>Edit Form</h1>

        <input type="text" name="username" placeholder="Username" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" 
        required formControlName = "name"
        [ngClass]="{'is-invalid': name.touched || name.dirty && !name.errors , 'is-valid': name.valid}">

        <input type="text" name="password" placeholder="Password" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" 
        required formControlName = "password"
        [class.is-invalid]="password.touched || password.dirty && !password.errors "
        [class.is-valid]="password.valid">

        <input type="email" name="email" placeholder="Email" 
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" 
        required formControlName = "email"
        [ngClass]="{'is-invalid': email.touched || email.dirty && !email.errors , 'is-valid': email.valid}">

        <br>

        <span>Privilege</span>

        <br>

        <mat-checkbox
        required
        formControlName="privilege"
        >
        Admin
        </mat-checkbox
        >

        <button type="submit">Submit</button>
    </form> 
</section>